.contact
{
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
}

.contact-col
{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    font-size: 30px;
    font-weight: 500;
    color:#000F38;
    display: flex;
    align-items: center;
    
}

.contact-col h3 img{
    width: 30px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    line-height: 1.3;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin:20px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding:15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize:none;
}

@media(max-width:700px)
{
    .contact{
        display: block;
    }
    .contact-col
    {
        padding:20px;
    }
}