.testimonials
{
    margin:80px auto;
    padding:0 80px;
    position:relative;
}
.nextimg, .backimg
{
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    background-color: #212EA0;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.backimg
{
    right: auto;
    left:0;
}

.slider
{
    overflow: hidden;
}

.slider ul{
    width: 200%;
    display: flex;
    transition: 0.5s;
    overflow-x: hidden;
    transform: translateX(0);

}

.slider ul li{
    width: 50%;
    list-style: none;
    padding: 20px;
}

.slide
{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding:40px;
    border-radius: 10px;
    color:#676767;
    line-height: 1.4;
  
}
.slide img{
    width:65px;
    border-radius: 50%;
    margin-right: 10px;
    border:4px solid #212EA0;
}
.userinfo
{
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   font-size: 15px;
    /* align-items: center;
    margin-bottom: 20px;
    font-size: 15px; */
}

.userinfo h3{
    color:#212EA0;
}

@media(max-width:800px)
{
    .testimonials{
        padding:0 40px;
    }
    .nextimg, .backimg
    {
        padding:10px;
        width: 35px;
    }
    .testimonials ul li{
        padding:10px;
    }
    .slide{
        padding:10px;
    }
    .slide img{
        width:50px;
        border:3px solid #212EA0;
    }
}
@media(max-width:600px)
{
    .userinfo{
       display:block;
       margin-bottom:10px;
       font-size: 12px;
    }
    .usrinfo h3
    {
        font-size: 16px;
    }
    .userinfo p{
        font-size: 12px;
    }

}